.card {
  box-shadow: 0px 0px 3px 1px #ddd;
}

.list-group-item {
  padding: 0.5rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
}

.list-group-item:first-child {
  border-radius: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

.list-group-item i.bi-square {
  flex-grow: 0;
  cursor: pointer;
  order: 1;
}

.list-group-item i.bi-trash-fill {
  flex-grow: 0;
  cursor: pointer;
  color: #dc3545;
  order: 3;
}

.list-group-item i.bi-trash-fill:hover {
  color: #af1e2c;
}

.list-group-item .todo-text {
  flex-grow: 1;
  margin: 0 10px;
  order: 2;
}
i.bi-check-square {
  flex-grow: 0;
  cursor: pointer;
  color: #28a745;
}

.list-group-item .todo-text-done {
  flex-grow: 1;
  margin: 0 10px;
  order: 2;
  text-decoration: line-through;
  color: #888;
}
